
VM_TYPE = kvm
VM_NETWORKING = true
VM_NETWORKING_TYPE = nat

VM_MEMORY = $(DETECTED_MEMORY)
VM_MAX_NUMBER = $(NUM_CPUS)

LIBVIRT_XML_SCRIPT=/usr/local/libexec/libvirt_cernvm_script.awk

# Job hooks for VAC emulation
VAC_HOOK_PREPARE_JOB = /usr/local/libexec/vac_prepare_hook.sh
VAC_HOOK_JOB_EXIT = /usr/local/libexec/vac_exit_hook.sh

# For testing!
START = RequiresVac =?= True
